@media (max-width: 550px) {
  img {
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .hpny > div {
    font-size: 40px;

    text-align: start;
  }

  .hpny .icon {
    font-size: 30px;
  }

  @keyframes example {
    0% {
      transform: translatey(-100%);
      background-color: rgba(250, 235, 215, 0);
    }
    100% {
      transform: translatey(0);
    }
  }

  .eff-flex {
    display: flex;
    gap: 5px;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
  }

  .ecffection {
    display: flex;
    gap: 2px;
    align-items: flex-start;
    width: 100%;
  }

  .eff {
    padding: 100px 2px;
    background-color: rgb(234, 247, 214);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  .eff1 {
    padding: 150px 2px;

    background-color: rgb(140, 224, 12);
    animation-delay: 1s;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }

  .eff2 {
    padding: 80px 2px;
    background-color: rgb(208, 17, 247);
    animation-delay: 2s;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  .eff3 {
    padding: 140px 2px;
    animation-delay: 2s;
    background-color: rgb(216, 203, 15);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    border-radius: 50%;
  }
  .eff4 {
    padding: 50px 2px;
    animation-delay: 4s;
    background-color: rgb(99, 194, 250);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    border-radius: 50%;
  }
  .eff5 {
    padding: 60px 2px;
    animation-delay: 5s;
    background-color: rgb(238, 164, 5);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  .eff6 {
    padding: 82px 2px;
    animation-delay: 6s;
    background-color: rgb(191, 5, 238);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  .eff7 {
    padding: 50px 2px;
    animation-delay: 7s;
    background-color: rgb(5, 238, 5);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
}
